:root {
    --main--color: #006039;
    --back--color: #FBF7EC;
    --sub--color: #323232;

    --button--shadow: 0px 8px 16px #00000035;
    --button--tap: 0px 0px 20px #00000075;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 키오스크 프레임 */

#frame{
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    position: relative;
    padding-top: 120px;
    overflow: hidden;
}

/* header, footer 스타일 */

header {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 12px #00000010;
    z-index: 999;
}

header > img {
    width: 334px;
    object-fit: contain;
}

footer {
    position: absolute;
    width: 1080px;
    bottom: 0%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 210px;
    background-color: #fff;
    box-shadow: 0px -4px 12px #00000010;
    z-index: 999;
}

/* footer 버튼 스타일 */

.footer-btn {
    width: 448px;
    height: 132px;
    border-radius: 52px;
    font-size: 48px;
    box-shadow: var(--button--shadow);
    font-weight: 600;
    letter-spacing: 3%;
}

.footer-btn:active {
    box-shadow: var(--button--tap);
    transition: 0.2s all;
}

#next-btn {
    background-color: var(--main--color);
    color: #fff;
    display: none;
}

#undo-btn {
    border: 3px solid var(--main--color);
    background-color: #fff;
    color: var(--main--color);
    display: none;
}

#language-btn-wrap{
    display: block;
}

#language-btn-wrap button{
    width: 220px;
    height: 132px;
    letter-spacing: 3%;
    font-size: 44px;
    border-radius: 52px;
    border: 1px solid var(--main--color);
    background-color: #fff;
    font-weight: 700;
    margin: 0 auto;
}

#language-btn-wrap button:nth-child(1){
    margin-right: 8px;
}

#language-btn-wrap button:nth-child(2){
    margin-right: 8px;
}

#language-btn-wrap button:nth-child(3){
    margin-right: 8px;
}

#language-btn-wrap button.active {
    background-color: var(--main--color);
    color: #fff;
    border: none;
}

/* section wrap */
.section-wrap {
    height: calc(1920px - 210px - 120px); /* Frame 높이에 맞춤 */
    width: 1080px; /* Frame 너비 */
    display: flex; /* 섹션을 가로로 배치 */
    transition: transform 0.5s ease; /* 부드러운 이동 효과 */
}

.section-wrap section {
    flex-shrink: 0; /* 섹션 크기 유지 */
    width: 1080px; /* 각 섹션의 너비 */
    height: 100%; /* 부모 높이에 맞춤 */
    z-index: 10;
    padding: 0px 80px;
    position: relative;
    overflow: hidden;
}


/* conA 스타일 */

#conA {
    background-color: var(--back--color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.conA-btn-wrap {
    display: flex;
    gap: 72px;
    justify-content: space-between;
    margin-bottom: 48px;
    z-index: 999;
}

.conA-btn {
    width: 420px;
    height: 312px;
    border-radius: 52px;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 3%;
    background-color: #fff;
    color: var(--main--color);
    box-shadow: 0px 0px 16px #00000010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conA-btn p {
    font-weight: 700;
}

.conA-btn:active {
    box-shadow: var(--button--tap);
    background-color: var(--main--color);
    color: #fff;
}

.svg {
    width: 132px;
    margin-bottom: 12px;
}

.conA-btn:active .svg path {
    fill: white;
}

.conA-title-wrap{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 532px;
    color: var(--main--color);
    width: 648px;
    justify-content: end;
}

@keyframes title {
    0%{
        transform: translateX(730px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

#title {
    font-size: 58px;
    font-weight: 600;
    transform: translateX(730px);
    opacity: 0;
    animation: title 1.4s 1 ease-in-out both;
}

#title2 {
    font-size: 64px;
    font-weight: 800;
    margin-top: -4px;
    transform: translateX(730px);
    opacity: 0;
    animation: title 1.2s 1.4s 1 ease-in-out both;
}

.conA-title-wrap hr {
    width: 648px;
    height: 6px;
    background-color: var(--main--color);
    display: block;
    animation: title 1.2s 1.4s 1 ease-in-out both;
}

/* conB 스타일 */

#conB, #conC, #conD, #conE, #conF, #conG, #conH, #conI, #conJ, #conK, #conL, #conM, #conN, #conO, #conP, #con-subA, #con-subB, #con-subC, #con-subD {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.step-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin-top: 32px;
}

.step-wrap ul {
    display: flex;
    gap: 36px;
}

.step-wrap li{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--main--color);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main--color);
}

.step-text {
    position: absolute;
    right: 308px;
    top: 84px;
    font-size: 28px;
    font-weight: 700;
    color: var(--main--color);
    text-align: center;
}

/* 컨텐츠 전체 메인 텍스트 스타일 */
.con-text-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    position: absolute;
    top: 108px;
    left: 80px;
}

.con-title-text{
    font-size: 80px;
    font-weight: 800;
    line-height: 92px;
    color: var(--main--color);
    transform: translateX(-800px);
    animation: context 1.2s 1 ease-in-out both;
}

.con-sub-text{
    font-size: 48px;
    line-height: 68px;
    font-weight: 500;
    color: var(--sub--color);
    transform: translateX(-800px);
    animation: context 1s 1.2s 1 ease-in-out both;
}

@keyframes context {
    0%{
        opacity: 0;
        transform: translateX(-800px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

#set-btn {
    width: 448px;
    height: 132px;
    border-radius: 52px;
    background-color: var(--main--color);
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3%;
    display: none;
    transform: translateX(472px);
}

/* 이미지 css */

.img-wrap{
    position: absolute;
    left: 0;
    bottom: 0px;
    transform: translateY(200px);
    width: 100%;
    height: 100%;
    z-index: -10;
}


.img-wrap img{
    position: absolute;
    bottom: 0px;
}

#img1A{
            
    transform-origin: 50% 1710px;
    animation: i1A 2.3s linear;
    transform: perspective(100px);
}
@keyframes i1A{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2A{
    
    transform-origin: 50% 1710px;
    animation: i2A 2.44s linear;
    transform: perspective(100px);
}
@keyframes i2A{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3A{
    
    transform-origin: 50% 1710px;
    animation: i3A 2.55s linear;
    transform: perspective(100px);
}
@keyframes i3A{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    57% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4A{
    
    transform-origin: 50% 1710px;
    animation: i4A 2.7s linear;
    transform: perspective(100px);
}
@keyframes i4A{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img5A{
    top: 480px;
    left: -802px;
    animation: i5A 200s infinite linear;
}
@keyframes i5A{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

#backA{
    z-index: -1;
}





#img1B{
    
    transform-origin: 50% 1710px;
    animation: i1B 1.65s linear;
    transform: perspective(100px);
}
@keyframes i1B{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2B{
    
    transform-origin: 50% 1710px;
    animation: i2B 1.9s linear;
    transform: perspective(100px);
}
@keyframes i2B{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3B{
    
    transform-origin: 50% 1710px;
    animation: i3B 1.95s linear;
    transform: perspective(100px);
}
@keyframes i3B{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    57% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4B{
    
    transform-origin: 50% 1710px;
    animation: i4B 2.1s linear;
    transform: perspective(100px);
}
@keyframes i4B{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

#img1subA{
            
    transform-origin: 50% 1710px;
    animation: i1subA 1.65s linear;
    transform: perspective(100px);
}

/* 신발 부적합 */

@keyframes i1subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2subA{
    
    transform-origin: 50% 1710px;
    animation: i2subA 1.9s linear;
    transform: perspective(100px);
}
@keyframes i2subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3subA{
    
    transform-origin: 50% 1710px;
    animation: i3subA 1.95s linear;
    transform: perspective(100px);
}
@keyframes i3subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    57% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4subA{
    
    transform-origin: 50% 1710px;
    animation: i4subA 2.1s linear;
    transform: perspective(100px);
}
@keyframes i4subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img5subA{
    
    transform-origin: 50% 1710px;
    animation: i5subA 2.2s linear;
    transform: perspective(100px);
}
@keyframes i5subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    65% {
        transform: rotateX(-20deg);
    }
    80% {

    }
    85% {
        transform: rotateX(10deg);
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img6subA{
    
    transform-origin: 50% 1710px;
    animation: i6subA 2.1s linear forwards;
    transform: perspective(100px);
    transform: rotateX(270deg);
}
@keyframes i6subA{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    68% {
        transform: rotateX(-20deg);
    }
    80% {

    }
    85% {
        transform: rotateX(10deg);
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

/* 가방 없어요 */

#img1subB{
            
    transform-origin: 50% 1710px;
    animation: i1subB 1.8s linear;
    transform: perspective(100px);
}
@keyframes i1subB{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2subB{
    
    transform-origin: 50% 1710px;
    animation: i2subB 1.9s linear;
    transform: perspective(100px);
}
@keyframes i2subB{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3subB{
    
    transform-origin: 50% 1710px;
    animation: i3subB 2.05s linear;
    transform: perspective(100px);
}
@keyframes i3subB{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    57% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4subB{
    
    transform-origin: 50% 1710px;
    animation: i4subB 2.2s linear;
    transform: perspective(100px);
}
@keyframes i4subB{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

/* 등산 스틱 없어요 */

#img1subC{
            
    transform-origin: 50% 1710px;
    animation: i1subC 1.65s linear;
    transform: perspective(100px);
}
@keyframes i1subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2subC{
    
    transform-origin: 50% 1710px;
    animation: i2subC 1.9s linear;
    transform: perspective(100px);
}
@keyframes i2subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3subC{
    
    transform-origin: 50% 1710px;
    animation: i3subC 1.95s linear;
    transform: perspective(100px);
}
@keyframes i3subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    57% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4subC{
    
    transform-origin: 50% 1710px;
    animation: i4subC 2.1s linear;
    transform: perspective(100px);
}
@keyframes i4subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img5subC{
    
    transform-origin: 50% 1710px;
    animation: i5subC 2.2s linear;
    transform: perspective(100px);
}
@keyframes i5subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    65% {
        transform: rotateX(-20deg);
    }
    80% {

    }
    85% {
        transform: rotateX(10deg);
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img6subC{
    
    transform-origin: 50% 1710px;
    animation: i6subC 2.1s linear forwards;
    transform: perspective(100px);
    transform: rotateX(270deg);
}
@keyframes i6subC{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    68% {
        transform: rotateX(-20deg);
    }
    80% {

    }
    85% {
        transform: rotateX(10deg);
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

/* 대여소 */

#img1subD{
            
    transform-origin: 50% 1710px;
    animation: i1subD 1.7s linear;
    transform: perspective(100px);
}
@keyframes i1subD{
    0% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    85% {
    }
    100%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

/* 역재생 */
#backaa{
    z-index: -1;
}

#img1aa{
            
    transform-origin: 50% 1710px;
    animation: i1aa 2.3s linear forwards;
    animation-delay: 1s;
    transform: perspective(100px);
}
@keyframes i1aa{
    100% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    53% {
        transform: rotateX(-20deg);
    }
    27% {
        transform: rotateX(10deg);
    }
    0%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img2aa{
    
    transform-origin: 50% 1920px;
    animation: i2aa 2.44s linear forwards;
    animation-delay: 1s;
    transform: perspective(100px);
}
@keyframes i2aa{
    100% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    55% {
        transform: rotateX(-20deg);
    }
    16% {
        transform: rotateX(10deg);
    }
    0%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img3aa{
    
    transform-origin: 50% 1920px;
    animation: i3aa 2.55s linear forwards;
    animation-delay: 1s;
    transform: perspective(100px);
}
@keyframes i3aa{
    100% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    59% {
        transform: rotateX(-20deg);
    }
    18% {
        transform: rotateX(10deg);
    }
    0%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img4aa{
    
    transform-origin: 50% 1920px;
    animation: i4aa 2.6s linear forwards;
    animation-delay: 1s;
    transform: perspective(100px);
}
@keyframes i4aa{
    100% {
        bottom: 0px;
        transform: rotateX(240deg);
    }
    63% {
        transform: rotateX(-20deg);
    }
    22% {
        transform: rotateX(10deg);
    }
    0%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}
#img5aa{
    top: 924px;
    left: -802px;
    transform-origin: 50% 1710px;
    animation: i5aa 2.8s linear forwards;
    animation-delay: 1s;
}
@keyframes i5aa{
    100% {
        bottom: 0px;
        transform: rotateX(270deg);
    }
    63% {
        transform: rotateX(-20deg);
    }
    22% {
        transform: rotateX(10deg);
    }
    0%{
        bottom: 0px;
        transform: rotateX(0deg);
    }
}

/* 로티 성공 */

.circle-progress::before{
    content: "";
    position: absolute;
    height: 246px;
    width: 246px;
    border-radius: 50%;
    background-color: #FBF7EC;
}
#lottie{
    position: absolute;
    left: -60px;
    top: 500px;
}#checkaa{
    position: absolute;
    margin: 490px 395px 0;
    z-index: 1;
    animation: check 0.5s ease-in-out;
}
@keyframes check{
    0%{
        transform: scale(0, 0);

    }
    62%{
        transform: scale(1.2, 1.2);

    }
    86%{
        transform: scale(0.85, 0.85);
    }
    100%{
        transform: scale(1, 1);
    }
}

/* 코스보기 */

.course-top {
    background-color: #fff;
    width: 922px;
    height: 164px;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 12px #00000010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 360px;
    margin-bottom: 24px;
}

#conF-km {
    font-size: 24px;
    letter-spacing: -4%;
    font-weight: 700;
    text-align: center;
}

.map {
    width: 920px;
    height: 901px;
    border-radius: 24px;
    background-color: #006039;
    position: relative;
    background-image: url(./Img/conF/map.png);
    box-shadow: 0px 0px 12px #00000010;
}

#course-easy{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: courseHover 2s ease-in-out 1 both;
}
#course-normal{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: courseHover 2s ease-in-out 1 both;
    z-index: 4;
}

#course-hard{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: courseHover 2s ease-in-out 1 both;
}


@keyframes courseHover {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-24px);
    }
    
}